*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "work sans", sans-serif;
}
@media (min-width: 768px) {
    .contenar {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .contenar {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .contenar {
        width: 1170px;
    }
}
/*
.pernt{
    background-color: rgb(0, 0, 0);
    width: 465px;
    margin: -7px 0 0 100px;
    border-radius: 38px;
}
.pernt img{
    width: 400px;
    height: 330px;
    margin: 40px 30px 10px;
    border-radius: 25px;
}
.container{
    display: flex;
    
}
.container .img{
    width: 56px;
    height: 50px;
    border-radius: 50%;
    margin-top: -6px;
}
.container h1{
    font-size: small;
    padding-right: 213px;
    color: #f9f8f7;
}
.container span{
    color: #f9f8f7;
    border: 3px solid rgb(255, 0, 119);
    margin-bottom: 250px;
    padding: 3px;
    border-radius: 25px;
    background-color: rgb(255, 0, 119);
}
.text{
    color: white;
    margin-left: -423px;
    margin-top: 54px;
}
.osf{
    margin-left: -239px;
    color: #777;
    margin-top: 120px;
}
.far{
    color: white;
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
}
.fa-heart{
    margin-top: 148px;
    margin-left: -157px;
}
.fa-share{
    color: white;
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.ms{
    color: white;
    margin-top: 220px;
    background-color: rgb(255, 0, 119);
    width: 408px;
    height: 43px;
    text-align: center;
    margin-left: -170px;
    border-radius: 44px;
    padding-top: 13px;
}



.contenar{
    background-color: #1f1f1f;
    height: 100%;
    width: 440px;
    margin: 100px 10px 0px 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 69px;
    padding-right: 151px;
    padding-bottom: 81px;
    padding-left: 151px;
    position: relative;
    overflow: hidden;
}

.fa-square-full{
    font-size: 150px;
    color: #0cd1bd;
    transform: rotate(44deg);
    margin-left: -7px;
}
.fa-circle{
    font-size: 52px;
    position: absolute;
    top: 120px;
    left: 192px;
    color: #1f1f1f;
}
.m1{
    font-size: 134px;
    position: absolute;
    right: 345px;
    transform: rotate(269deg);
    color: #0cd1bd;
}
.m2{
    font-size: 134px;
    position: absolute;
    left: 345px;
    transform: rotate(90deg);
    color: #0cd1bd;
}*/
.pechtr{
    background-color: #333;
    width: 500px;
    height: 500px;
    margin: 200px;
    border-radius: 30px;
    position: relative;
}
.pechtr .contenr{
    padding-top: 94px;
    padding-left: 74px;
    border: 2px solid #777;
    width: 450px;
    height: 265px;
    position: absolute;
    top: 75px;
    right: 25px;
    border-radius: 25px;
}
.pechtr .contenr .member{
    position: absolute;
    top: 10px;
    color: #777;
    right: 10px;
}
.pechtr .contenr .text{ 
    position: absolute;
    top: 80px;
    left: 30px;
    font-size: 25px;
}

.pechtr .contenr .text p {
    color: #03a9f4;
    position: absolute;
    top: -25px;
    left: 110px;
}
.pechtr .contenr .crctr{
    position: absolute;
    bottom: 25px;
    left: 15px;
    font-size: 20px;
    color: #777;
}
.pechtr .contenr .crctr .red::before{
    content: '';
    width: 50%;
    color: white;
    height: 50%;
    background-color: red;
    border: 5px solid red;
    border-radius: 94%;
    padding-right: -3px;
    padding-bottom: 10px;
    position: absolute;
    left: 65px;
    bottom: -4px;
}
.pechtr .contenr .crctr .yilo::before{
    content: '';
    width: 50%;
    color: rgb(246, 250, 0);
    height: 50%;
    background-color: rgb(251, 255, 0);
    border: 5px solid rgb(251, 255, 0);
    border-radius: 94%;
    padding-right: -3px;
    padding-bottom: 10px;
    position: absolute;
    left: 110px;
    bottom: -4px;
}
.pechtr .contenr .crctr .green::before{
    content: '';
    width: 50%;
    color: rgb(246, 250, 0);
    height: 50%;
    background-color: rgb(30, 255, 0);
    border: 5px solid rgb(30, 255, 0);
    border-radius: 94%;
    padding-right: -3px;
    padding-bottom: 10px;
    position: absolute;
    left: 156px;
    bottom: -4px;
}
.pechtr .contenr .crctr .bluo::before{
    content: '';
    width: 50%;
    color: rgb(246, 250, 0);
    height: 50%;
    background-color: rgb(0, 47, 255);
    border: 5px solid rgb(0, 47, 255);
    border-radius: 94%;
    padding-right: -3px;
    padding-bottom: 10px;
    position: absolute;
    left: 200px;
    bottom: -4px;
}
.pechtr .contenr .crctr .porply::before{
    content: '';
    width: 50%;
    color: rgb(246, 250, 0);
    height: 50%;
    background-color: rgb(247, 0, 255);
    border: 5px solid rgb(247, 0, 255);
    border-radius: 94%;
    padding-right: -3px;
    padding-bottom: 10px;
    position: absolute;
    left: 250px;
    bottom: -4px;
}


.porply .fa-check{
    position: absolute;
    left: 257px;
    bottom: 0px;
    color: white;
}
.pechtr .alex{
    color: white;
    position: absolute;
    top: 345px;
    right: 40px;
    background-color: palevioletred;
    width: 80px;
    border-radius: 51px;
    height: 40px;
}
.pechtr .alex p{
    position: absolute;
    right: 7px;
    top: -5px;
}
.pechtr .alex i{
    position: absolute;
    top: 13px;
    left: 12px;
}