*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "work sans", sans-serif;
    
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.pernt{
    background-color: rgb(0, 0, 0);
    width: 465px;
    margin: -7px 0 0 100px;
    border-radius: 38px;
}
.pernt img{
    width: 400px;
    height: 330px;
    margin: 40px 30px 10px;
    border-radius: 25px;
}
.container{
    display: flex;
    
}
.container .img{
    width: 56px;
    height: 50px;
    border-radius: 50%;
    margin-top: -6px;
}
.container h1{
    font-size: small;
    padding-right: 213px;
    color: #f9f8f7;
}
.container span{
    color: #f9f8f7;
    border: 3px solid rgb(255, 0, 119);
    margin-bottom: 250px;
    padding: 3px;
    border-radius: 25px;
    background-color: rgb(255, 0, 119);
}
.text{
    color: white;
    margin-left: -423px;
    margin-top: 54px;
}
.osf{
    margin-left: -239px;
    color: #777;
    margin-top: 120px;
}
.far{
    color: white;
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
}
.fa-heart{
    margin-top: 148px;
    margin-left: -157px;
}
.fa-share{
    color: white;
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.ms{
    color: white;
    margin-top: 220px;
    background-color: rgb(255, 0, 119);
    width: 408px;
    height: 43px;
    text-align: center;
    margin-left: -170px;
    border-radius: 44px;
    padding-top: 13px;
}
